<script>
    import {onMount} from 'svelte'

    let foundPost = false

    onMount(() => {
        setTimeout(() => {foundPost = true}, 2000)
    })
</script>

<style>
    .rpr-loader-container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 500px;
    }
    .rpr-loader {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
    }
    .rpr-loader div {
        position: absolute;
        top: 33px;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background-color: #151515;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }
    .rpr-loader div:nth-child(1) {
        left: 8px;
        animation: rpr-loader1 0.6s infinite;
    }
    .rpr-loader div:nth-child(2) {
        left: 8px;
        animation: rpr-loader2 0.6s infinite;
    }
    .rpr-loader div:nth-child(3) {
        left: 32px;
        animation: rpr-loader2 0.6s infinite;
    }
    .rpr-loader div:nth-child(4) {
        left: 56px;
        animation: rpr-loader3 0.6s infinite;
    }
    @keyframes rpr-loader1 {
        0% {
            transform: scale(0);
        }
        100% {
            transform: scale(1);
        }
    }
    @keyframes rpr-loader3 {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(0);
        }
    }
    @keyframes rpr-loader2 {
        0% {
            transform: translate(0, 0);
        }
        100% {
            transform: translate(24px, 0);
        }
    }
    .rpr-list__no_posts {
        text-align: center;
        margin: 4rem 0;
    }
</style>

{#if !foundPost}
    <div class="rpr-loader-container">
        <div class="rpr-loader"><div></div><div></div><div></div><div></div></div>
    </div>
{:else}
    <p class="rpr-list__no_posts">No posts found</p>
{/if}