<script>
    import {onMount} from 'svelte'
    import {favoritesStore, localForage} from '../store'

    import ListItem from './ListItem.svelte'
    import Loader from '../shared/Loader.svelte'

    let favorites = []

    onMount(() => {
        localForage.iterate((v,k,i) => {
            favorites = [...favorites, v].sort((a, b) => -a.date_added.localeCompare(b.date_added))
        })
        .then(() => {
            favoritesStore.set(favorites)
        })
        .catch((err) => {
            console.log(err)
        })
    })


</script>

<div class="rpr-list-container">
    {#if $favoritesStore.length}
        {#each $favoritesStore as item (item.id)}
            <ListItem recipe={item} />
        {/each}
    {:else}
        <Loader />
    {/if}
</div>
