<script>
    import ShareButtons from './ShareButtons.svelte'
    import Stars from "./Stars.svelte";

    export let recipe

    function goToRecipe() {
        window.location.href = recipe.url
    }
</script>

<style>
    .rpr-list-item {
        position: relative;
        margin: 0 0 1rem 0;
        height: 150px;
        outline: 1px solid #e2e2e2;
        overflow: hidden;
        transition: outline-color .2s ease-in-out;
    }
    .rpr-list-item:hover {
        outline: 1px solid #8f8f8f;
    }
    .rpr-list-item__container {
        display: grid;
        grid-template-columns: 150px auto;
        grid-column-gap: 1rem;
    }
    .rpr-list-item__photo {
        cursor: pointer;
        background-size: cover;
        background-color: #f2f2f2;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    .rpr-list-item__content {
        margin: 0 2rem 0 0;
        cursor: pointer;
    }
    .rpr-list-item__content h2 {
        margin: 1rem 0 1rem 0;
        line-height: 1;
    }
    .rpr-list-item__content p {
        margin: 0 0 1rem 0;
        height: calc(3*1.6rem);
        overflow: hidden;
    }
    :global(.rpr-list-item:hover .rpr-list-item__share-buttons) {
        transform: translateX(0);
    }
</style>

<div class="rpr-list-item">
    <div class="rpr-list-item__container">
        <div class="rpr-list-item__photo" on:click={goToRecipe} style="background-image:url({recipe.thumbnail || ''})">
            <Stars {recipe} />
        </div>
        <div class="rpr-list-item__content" on:click={goToRecipe}>
            <h2>{recipe.title || ''}</h2>
            <p>{recipe.description || ''}</p>
        </div>
    </div>
    <ShareButtons {recipe} />
</div>