<script>
    import Facebook from './buttons/Facebook.svelte'
    import Twitter from './buttons/Twitter.svelte'
    import Pinterest from './buttons/Pinterest.svelte'
    import Email from './buttons/Email.svelte'

    export let recipe
</script>
<style>
    .rpr-list-item__share-buttons {
        position: absolute;
        right: 0;
        top: 0;
        margin: 0;
        padding: 5px;
        display: flex;
        flex-direction: column;
        height: 150px;
        justify-content: space-evenly;
        background-color: #fff;
        box-shadow: -5px 0 5px 0 #ebebeb9c;
        transform: translateX(45px);
        transition: transform .2s ease-in-out;
    }
</style>
<div class="rpr-list-item__share-buttons">
    <Facebook {recipe} />
    <Twitter {recipe} />
    <Pinterest {recipe} />
    <Email {recipe} />
</div>
