<script>
    export let recipe
</script>

<style>
    .rpr-list-item__stars {
        color: #ffeb3b;
    }
</style>

<div class="rpr-list-item__stars">
    {#if recipe.rating >= 5}
        <span>&starf;&starf;&starf;&starf;&starf;</span>
    {:else if recipe.rating >= 4}
        <span>&starf;&starf;&starf;&starf;&star;</span>
    {:else if recipe.rating >= 3}
        <span>&starf;&starf;&starf;&star;&star;</span>
    {:else if recipe.rating >= 2}
        <span>&starf;&starf;&star;&star;&star;</span>
    {:else if recipe.rating >= 1}
        <span>&starf;&star;&star;&star;&star;</span>
    {:else}
        <span>&star;&star;&star;&star;&star;</span>
    {/if}
</div>