<script>
    import {shareRecipe} from '../../functions'
    export let recipe
</script>

<style>
    svg {
        width: 25px;
        cursor: pointer;
        padding: 4px;
    }
</style>

<svg title="Share on Facebook" version="1.1" xmlns="http://www.w3.org/2000/svg" width="31" height="32" viewBox="0 0 31 32" on:click={() => shareRecipe(recipe, 'facebook')}>
    <path d="M15.36 0.64q6.4 0 10.88 4.48t4.48 10.88q0 6.336-4.48 10.848t-10.88 4.512-10.88-4.512-4.48-10.848q0-6.4 4.48-10.88t10.88-4.48zM19.008 11.2v-2.496h-2.304q-1.408 0-2.368 1.056t-0.96 2.592v1.408h-2.432v2.368h2.432v7.104h2.752v-7.104h2.88v-2.368h-2.88v-1.664q0-0.896 0.576-0.896h2.304z"></path>
</svg>