<script>
    import {shareRecipe} from '../../functions'
    export let recipe
</script>

<style>
    svg {
        width: 25px;
        cursor: pointer;
        padding: 4px;
    }
</style>

<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="31" height="32" viewBox="0 0 31 32" on:click={() => shareRecipe(recipe, 'pinterest')}>
    <path d="M15.36 0.64q6.4 0 10.88 4.48t4.48 10.88q0 6.336-4.48 10.848t-10.88 4.512-10.88-4.512-4.48-10.848q0-6.4 4.48-10.88t10.88-4.48zM16.384 19.584q2.624 0.256 4.096-2.048t1.088-5.184q-0.32-2.304-2.368-3.52t-4.672-0.896q-2.112 0.256-3.744 1.792t-1.696 3.776q-0.128 3.2 2.24 3.712 0.32-0.768 0.288-1.056t-0.32-0.768-0.352-0.864q-0.448-3.072 2.496-4.608t5.056 0.576q1.536 1.536 0.64 4.736t-3.136 2.752q-1.28-0.256-1.056-1.728t0.768-2.752-0.672-1.92q-1.344-0.576-2.080 1.056t0.032 2.848q-0.128 0.64-0.672 2.656t-0.576 2.784 0.032 3.136q1.664-1.216 2.496-5.504 1.472 0.96 2.112 1.024z"></path>
</svg>