<script>
    import {shareRecipe} from '../../functions'
    export let recipe
</script>

<style>
    svg {
        width: 25px;
        cursor: pointer;
        padding: 4px;
    }
</style>

<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="31" height="32" viewBox="0 0 31 32" on:click={() => shareRecipe(recipe, 'twitter')}>
    <path d="M15.36 0.64q6.4 0 10.88 4.48t4.48 10.88q0 6.336-4.48 10.848t-10.88 4.512q-6.336 0-10.848-4.512t-4.512-10.848q0-6.4 4.512-10.88t10.848-4.48zM21.632 13.184q0.96-0.704 1.472-1.536-1.024 0.384-1.728 0.448 0.96-0.576 1.344-1.664-0.96 0.512-1.92 0.704-0.896-0.896-2.24-0.896-1.28 0-2.144 0.896t-0.864 2.112q0 0.064 0.032 0.32t0.032 0.384q-3.84-0.192-6.208-3.2-0.448 0.768-0.448 1.536 0 1.6 1.408 2.496-0.832 0-1.408-0.384v0.064q0 1.088 0.672 1.92t1.76 1.024q-0.512 0.128-0.768 0.128-0.384 0-0.576-0.064 0.64 2.112 2.816 2.112-1.6 1.28-3.776 1.28h-0.704q2.176 1.344 4.608 1.344 3.904 0 6.272-2.656t2.368-5.984v-0.384z"></path>
</svg>