<script>
    import {onMount} from 'svelte'
    import {favoritesStore, localForage} from '../store'

    import Heart from './Heart.svelte'

    let loading = true
    const {rprFavoriteRecipeVars: recipe} = window.rpr

    let headerClass = 'pin';
    let y = 0;
    let lastY = 0;
    let lastDirection = 'up';

    onMount(() => {
        let favorites = []
        const oldFavorites = localStorage.getItem('rpr:favorites')

        if (oldFavorites) {
            JSON.parse(oldFavorites).map((i) => {
                localForage.setItem(`${i.id}`, i, (e,v) => console.log(e,v))
            })
            localStorage.removeItem('rpr:favorites')
        }

        localForage.iterate((v,k,i) => {
            favorites = [...favorites, v]
        })
        .then(() => {
            favoritesStore.set(favorites)
            loading = false
        })
        .catch((err) => {
            console.log(err)
        })
    })

    function saveRecipe(e) {
        localForage.keys((err, values) => {
            if (err) {
                return console.log(err)
            }

            recipe.date_added = (new Date()).toISOString()

            if (!values.includes(`${recipe.id}`)) {
                localForage.setItem(`${recipe.id}`, recipe)
                .then((v) => {
                    favoritesStore.update((favorites) => {
                        return [...favorites, v]
                    })
                })
                .catch(function(err) {
                    console.log(err)
                })
            } else {
                removeRecipe(`${recipe.id}`)
            }
        })
    }

    function removeRecipe(recipeId) {
        localForage.removeItem(`${recipeId}`)
            .then(() => {
                favoritesStore.update((favorites) => {
                    return favorites.filter((i) => i.id !== parseInt(recipeId))
                })
            })
            .catch((err) => {
                console.log(err);
            })
    }

    function savedInStore(store, recipe) {
        for (let i = 0; i < store.length; i++) {
            if (store[i].id === recipe.id) return true
        }

        return false
    }

    $: saved = savedInStore($favoritesStore, recipe)

    function changeClass(y) {
        let result = headerClass;
        const scrolledPxs = lastY - y;
        const scrollDirection = scrolledPxs < 0 ? 'down' : 'up';
        const changedDirection = scrollDirection !== lastDirection;
        if (changedDirection) {
            result = scrollDirection === 'down' ? 'unpin' : 'pin';
            lastDirection = scrollDirection;
        }
        lastY = y;
        return result;
    }

    $: headerClass = changeClass(y);

</script>

<style>
    .rpr-button {
        position: fixed;
        z-index: 999999;
        bottom: 4vh;
        right: 4vh;
        width: 40px;
        height: 40px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        box-shadow: 3px 2px 6px 1px #d7d7d7;
        cursor: pointer;
        opacity: 1;
        transition: opacity .2s ease-in-out;
    }
    .saved {
        background-color: red;
        box-shadow: 3px 2px 6px 1px #f6caca;
    }
    .unpin {
        /*transform: translateX(400px);*/
        opacity: 0;
        user-select: none;
        pointer-events: none;
    }
</style>

<svelte:window bind:scrollY={y}/>
{#if !loading}
    <div class="rpr-button {headerClass}" title="Save to favorites" class:saved on:click={saveRecipe}>
        <Heart isSaved={saved} />
    </div>
{/if}